.container {
  font-family: monospace;
  font-size: 10px;
  line-height: 1.5;
  position: fixed;
  top: var(--gap);
  left: var(--gap);
  right: var(--gap);
  bottom: var(--gap);
  border-radius: 3px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  font-weight:bold;
  background:var(--bg);
  color:var(--fg);
}
